@font-face {
  font-family: Gilroy;
  src: url(gilroy/Gilroy-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 20%);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  color: orange;
}

:root {
  --unit: 1vw;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: white;
  font-family: Gilroy;
  scroll-behavior: smooth;
}

@keyframes rotation {
  0%{
      transform: rotate(0);

  }
  100%{
      transform: rotate(360deg);
  }
}
@keyframes rotateop {
  0%{
      transform: rotate(0) rotateY(180deg);
  }
  100%{
      transform: rotate(-360deg) rotateY(180deg);
  }
}

#loader{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #121212;
  /* display: none; */
  /* transition: 1s; */
}

#circle1{
  position: absolute;
  width: 15vw;
  height: 15vw;
  color: gold;
  border-style: solid;
  border-color: currentColor transparent transparent currentColor;
  border-radius: 50%;
  border-width: .3vw .3vw 0 0;
  animation: rotation 1.5s linear infinite;
}
#circle1::before{
  content: '';
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  top: 10%;
  right: 7%;
  border-radius: 50%;
  background-color: gold;
  box-shadow: 0 0 5px 5px rgb(255,215,0,.5),
              0 0 15px 15px rgb(255,215,0,.3);
}
#circle2{
  position: absolute;
  width: 10vw;
  height: 10vw;
  transform: rotateY(180deg);
  color: lime;
  border-style: solid;
  border-color: currentColor transparent transparent currentColor;
  border-radius: 50%;
  border-width: .3vw .3vw 0 0;
  animation: rotateop 1.5s linear infinite;
}
#circle2::before{
  content: '';
  position: absolute;
  width: 1vw;
  height: 1vw;
  top: 10%;
  right: 7%;
  border-radius: 50%;
  background-color: lime;
  box-shadow: 0 0 5px 5px rgb(0,255,0,.5),
              0 0 15px 15px rgb(0,255,0,.3);
}

#main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
  background-color: rgba(20, 20, 20, 0.4);
  backdrop-filter: blur(10px);
  text-transform: uppercase;
  z-index: 3;
  font-size: 1.25vw;
}

#navbar {
  width: 20%;
  height: 100%;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#navbar > h3,
nav > h1 {
  cursor: pointer;
  font-weight: 400;
  position: relative;
}

#navbar > h3::before {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  width: 0;
  background-color: orange;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#navbar > h3:hover::before {
  width: 100%;
}

.nav-icon {
  position: absolute;
  top: .5rem;
  right: 1%;
  display: none;
  width: 6vh;
  height: 3vh;
  /* border: 2px solid black; */
  cursor: pointer;
}
.nav-icon > span {
  position: absolute;
  height: 0.25rem;
  width: 50%;
  background-color: white;
  transition: 0.2s ease-in-out;
}
.nav-icon > span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
.nav-icon > span:nth-child(odd) {
  left: 0;
  border-radius: 9px 0 0 9px;
}
.nav-icon > span:nth-child(1),
.nav-icon > span:nth-child(2) {
  top: 0;
}
.nav-icon > span:nth-child(3),
.nav-icon > span:nth-child(4) {
  top: 50%;
}
.nav-icon > span:nth-child(5),
.nav-icon > span:nth-child(6) {
  top: 100%;
}
.nav-open .nav-icon > span:nth-child(1),
.nav-open .nav-icon > span:nth-child(6) {
  transform: rotateZ(45deg);
}
.nav-open .nav-icon > span:nth-child(2),
.nav-open .nav-icon > span:nth-child(5) {
  transform: rotateZ(-45deg);
}
.nav-open .nav-icon > span:nth-child(1) {
  top: 15%;
  left: 10%;
}
.nav-open .nav-icon > span:nth-child(6) {
  top: 85%;
  left: 45%;
}
.nav-open .nav-icon > span:nth-child(2) {
  top: 15%;
  left: 45%;
}
.nav-open .nav-icon > span:nth-child(5) {
  top: 85%;
  left: 10%;
}
.nav-open .nav-icon > span:nth-child(3) {
  top: 50%;
  left: -50%;
  opacity: 0;
}
.nav-open .nav-icon > span:nth-child(4) {
  top: 50%;
  left: 150%;
  opacity: 0;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* #page-1 {
  background: url(Image-3.jpg);
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black 90%, transparent);
  background-repeat: no-repeat;
  background-size: cover;
} */

#page-1 > img {
  position: absolute;
  /* right: calc(-20% - 2vw); */
  max-height: 100%;
  object-fit: cover;
  /* -webkit-mask-image: linear-gradient(black,transparent);
  mask-image: linear-gradient(black 90%,transparent); */
  -webkit-mask-image: url(Background_SVG.svg);
  mask-image: url(Background_SVG.svg);
  mask-repeat: no-repeat;
  /* mask-border-mode:; */
  mask-position: 15%;
  transform: translateX(calc(100vw - 70vw));
}

#Card {
  position: absolute;
  top: 15%;
  left: 5%;
  width: calc(var(--unit) * 35);
  height: calc(var(--unit) * 35);
  padding: calc(var(--unit));
  line-height: calc(var(--unit) * 2);
  font-size: calc(var(--unit) * 1.25);
  /* border: calc(var(--unit) * 0.1) solid white; */
  /* border-radius: var(--unit); */
  /* backdrop-filter: blur(5px); */
  overflow: hidden;
}

#Card > h2 {
  color: orange;
  font-size: 3rem;
  margin-bottom: 32px;
}

.material-symbols-outlined {
  position: fixed;
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  border: 2px solid white;
  border-radius: 50%;
  transform: scale(2);
  background-color: orange;
  color:white;
}

#scrollbtn{
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 1vw;
  font-weight: 200;
  z-index: 5;
}

#page-2 {
  box-shadow: 0 -20px 60px 50px #121212;
}

#About {
  width: 80%;
  height: 20vw;
  /* border: 2px solid grey; */
  /* border-radius: 20px; */
  overflow: hidden;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  margin-bottom: -2rem;
}

#about-1 {
  width: 80%;
  height: 5vw;
  border-bottom: .4rem solid white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  overflow: hidden;
  /* margin-bottom: 1rem; */
}

#about-1 > h1 {
  padding: 1rem;
  font-size: 2rem;
  /* border-bottom: 0.4rem solid white; */
}

#about-2 {
  width: 80%;
  height: calc(100% - 4vw);
  line-height: 1.35rem;
  padding: 1vw 0;
  overflow: hidden;
  /* border: 2px solid red; */
}

#cards-container {
  position: relative;
  margin-top: 2rem;
  /* top: 45%; */
  height: 70%;
  width: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards-container-1 {
  width: 95%;
  height: 50%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  overflow: hidden;
}

#cards-container-2 {
  width: 95%;
  height: 50%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  overflow: hidden;
}

#card-1 {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  background-color: hsl(0, 100%, 40%);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
}

#card-1>img,#card-4>img{
  /* border: 5px solid #dadada; */
  /* transform: translate(10%,20%); */
  width: 25%;
  border-radius: 20px;
}

#card-2>img,#card-3>img{
  width: 40%;
  border-radius: 20px;
}

#card-1>p,#card-4>p{
  width: 65%;
  padding: 1rem;
  border-left: 3px solid #dadada;
}

#card-2>p,#card-3>p{
  width: 50%;
  line-height: 1rem;
  padding: 0 1rem;
  border-left: 3px solid #dadada;
}

#card-2 {
  position: relative;
  overflow: hidden;
  width: 29%;
  height: 100%;
  border-radius: 20px;
  background-color: hsl(240, 100%, 40%);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#card-3 {
  position: relative;
  overflow: hidden;
  width: 29%;
  height: 100%;
  border-radius: 20px;
  background-color: hsl(130, 100%, 25%);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#card-4 {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  background-color: hsl(39, 100%, 45%);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Page-3 */

.page-title {
  text-align: center;
  width: 64%;
  height: 5vw;
  color: white;
  overflow: hidden;
  border-bottom: 0.4rem solid white;
}

.page-title > h1 {
  padding: 1rem;
  font-size: 2rem;
}

#reviews {
  position: relative;
  width: 95%;
  height: 60%;
  padding: 1rem;
  /* background-color: red; */
  background: linear-gradient(
    90deg,
    transparent,
    rgb(30, 30, 30) 5% 95%,
    transparent
  );
  /* background-color: rgb(30, 30, 30); */
  /* box-shadow: 0 0 5px 15px rgb(50,50,50); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.review {
  width: 40%;
  height: 90%;
  background-color: hsl(0, 0%, 25%);
  border-radius: 20px;
  flex-shrink: 0;
  opacity: 1;
  animation: reviews 35s linear infinite;
  overflow: hidden;
}

/* .review:nth-child(even){
  background-color: blue;
} */

/* .review:nth-child(2) {
  left: 47%;
  animation-delay: 5s;
}

.review:nth-child(3) {
  left: 89%;
  animation-delay: 10s;
}

.review:nth-child(4) {
  left: 131%;
  animation-delay: 15s;
}

.review:nth-child(5) {
  left: 173%;
  animation-delay: 20s;
} */

@keyframes reviews {
  /* 0%,
  100% {
    transform: translate(250%); */
    /* left: -50%; */
    /* opacity: 0;
  }
  25% {
    transform: translateX(100%);
    opacity: 1;
  }
  75% {
    transform: translateX(-100%);
    opacity: 0;
  } */
  to{
    transform: translate(-515%);
  }
}

.review>h2{
  height: 3rem;
  margin: 2rem;
  border-bottom: 5px solid #dadada;
}

.review>p{ 
  margin:0 2rem; 
  font-size: 1.2rem;
  white-space: wrap;
}

footer {
  background: radial-gradient(rgb(218, 218, 218, 0.5) 10%, transparent 10%);
  background-position: 0 0;
  background-size: 5vmin 5vmin;
  bottom: 0%;
  width: 100%;
  height: 17vw;
  background-color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
}

#container{
  width: 20vw;
  height: 24vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.card{
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card:hover{
  transform: translate(25%,-25%);
}
#youtube:hover{
  background-color: red;
  box-shadow: -4px 4px rgb(255,0,0,1),
              -8px 8px rgb(255,0,0,.8),
              -12px 12px rgb(255,0,0,.6),
              -16px 16px rgb(255,0,0,.4),
              -20px 20px rgb(255,0,0,.2);
}
#linkedin:hover{
  background-color: rgb(0, 119, 181);
  box-shadow: -4px 4px rgb(0, 119, 181,1),
              -8px 8px rgb(0, 119, 181,.8),
              -12px 12px rgb(0, 119, 181,.6),
              -16px 16px rgb(0, 119, 181,.4),
              -20px 20px rgb(0, 119, 181,.2);
}
#twitter:hover{
  background-color: #dadada;
  box-shadow: -4px 4px rgb(218,218,218,1),
              -8px 8px rgb(218,218,218,.8),
              -12px 12px rgb(218,218,218,.6),
              -16px 16px rgb(218,218,218,.4),
              -20px 20px rgb(218,218,218,.2);
}
.card img{
  height: 80%;
  object-fit: cover;
}

@media(width > 2000px){
  :root{
    font-size: 30px;
  }
}

@media (768px<width<1030px) {
  #About {
    width: 85%;
    height: 50vw;
    /* border: 2px solid red; */
  }
  #about-1 {
    height: 7vw;
    padding: 0;
    /* margin-bottom: 4rem; */
  }
  #cards-container{
    margin-top: 2rem;
    height: 50%;
    /* border: 2px solid blue; */
  }
  #card-1{
    width: 60%;
  }
  #card-2{
    width: 39%;
  }
  #card-3{
    width: 39%;
  }
  #card-4{
    width: 60%;
  }
  #card-1>p,#card-2>p,#card-3>p,#card-4>p{
    font-size: .8rem;
    line-height: .8rem;
  }
  #card-2>p,#card-3>p{
    padding: 0 .5rem;
  }
  .page-title{
    height: 6vw;
  }
}

@media (475px < width < 770px) {
  :root {
    font-size: 15px;
  }
  nav {
    height: 6vw;
    font-size: 1.5vw;
  }
  #navbar {
    font-size: 1.5vw;
    width: 25%;
  }
  #page-1 > img {
    /* background-position: calc(var(--unit) * -50); */
    top: 30%;
    left: -8vh;
    max-height: 70%;
  }
  #Card {
    top: 15%;
    left: 1%;
    width: 70%;
    height: 15rem;
    /* border: 2px solid red; */
  }
  #Card > h2 {
    margin-top: 1rem;
  }
  #Card > p {
    line-height: 1.75rem;
    font-size: 1.25rem;
  }
  .material-symbols-outlined{
    transform: scale(1.75);
  }
  #scrollbtn{
    right: 7%;
  }
  #About {
    height: 70vh;
  }
  #about-1 {
    width: 90%;
    height: 10vh;
  }
  #about-2 {
    width: 90%;
  }
  #cards-container{
    margin-top: -4rem;
    height: 50%;
    /* border: 2px solid blue; */
  }
  #card-1{
    width: 60%;
  }
  #card-2{
    width: 39%;
  }
  #card-3{
    width: 39%;
  }
  #card-4{
    width: 60%;
  }
  #card-1>p,#card-2>p,#card-3>p,#card-4>p{
    font-size: .8rem;
    line-height: .8rem;
  }
  #card-2>p,#card-3>p{
    padding: 0 .5rem;
  }
  .page-title{
    height: 8vw;
    /* border: 2px solid blue; */
  }
  .page-title>h1{
    /* border: 2px solid red; */
    /* padding: -10rem 0 0 0; */
    font-size: 2rem;
  }
  #reviews {
    width: 90%;
    height: 60%;
  }
  .review{
    width: 50%;
  }

}

@media (width < 475px) {
  :root {
    --unit: 1vh;
    font-size: 14px;
  }
  #circle1{
    width: 15vh;
    height: 15vh;
  }
  #circle1::before{
    top: 12%;
    right: 10%;
  }
  #circle2{
    width: 10vh;
    height: 10vh;
  }
  #circle2::before{
    top: 13%;
    right: 9%;
  }
  #main{
    max-height: 50vh;
  }
  nav {
    height: 6vh;
    font-size: 1.5vh;
  }
    
  nav>h1{
    position: fixed;
    top: 1rem;
    left: 1%;
  }
  #navbar {
    position: absolute;
    top: 40%;
    /* border: 2px solid red; */
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 0;
    font-size: 1.5vh;
    /* border: 2px solid red; */
    /* display: block; */
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .nav-icon{
    display: block;
  }
  .page {
    width: 100%;
    height: 70vh;
  }
  #page-1 > img {
    /* background-position: calc(var(--unit) * -50); */
    top: 30%;
    left: -17vh;
    max-height: 70%;
  }
  .material-symbols-outlined{
    transform: scale(1.5);
  }
  #scrollbtn{
    right: 12%;
    bottom: -20%;
  }
  #Card {
    top: 15%;
    left: 1%;
    width: 95%;
    height: 10rem;
    /* border: 2px solid red; */
    font-size: calc(var(--unit) * 1.5);
  }
  #Card > h2 {
    margin-top: 10px;
  }
  #About {
    width: 100%;
    height: 50vh;
    /* border: 2px solid red; */
    margin-top: -5rem;
  }
  #about-1 {
    height: 8vh;
    margin-bottom: .5rem;
  }
  #about-1 > h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #about-2 {
    line-height: 1rem;
    font-size: 0.75rem;
  }
  #cards-container {
    margin-top: -12rem;
    height: 55%;
    margin-bottom: -8rem;
  }
  #cards-container-1 {
    flex-direction: column;
    gap: 1rem;
  }
  #cards-container-2 {
    flex-direction: column;
    gap: 1rem;
  }
  #card-1{
    width: 100%;
    height: 100%;
  }
  #card-2{
    width: 100%;
    height: 100%;
  }
  #card-3{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
  }
  #card-4{
    width: 100%;
    height: 100%;
  }
  #card-1>img,#card-2>img,#card-3>img,#card-4>img{
    width: 20%;
  }
  #card-1>p,#card-2>p,#card-3>p,#card-4>p{
    width: 70%;
    font-size: 2.5vw;
    line-height: .6rem;
  }
  .page-title {
    width: 80%;
    height: 7vh;
  }
  .page-title > h1 {
    font-size: 1.5rem;
  }
  #reviews {
    margin-top: -6rem;
    width: 100%;
    height: 60%;
  }
  .review {
    width: 80%;
  }
  .review>h2{
    margin: 1rem 2rem 0rem 2rem;
  }
  .review>p{
    font-size: 1rem;
  }
  @keyframes reviews{
    to{
      transform: translate(-525%);
    }
  }
  footer {
    height: 17vh;
  }
}

@media (width < 330px) {
  :root {
    font-size: 13px;
  }
}
